<section id="skills" class="flex items-center justify-center min-h-screen py-20 bg-gray-900 text-white">
    <div class="container mx-auto px-6 text-center">
      <h2 class="text-4xl font-bold mb-12 text-center" data-aos="fade-up">Habilidades</h2>
      <p class="text-gray-400 text-lg mb-12" data-aos="fade-up" data-aos-delay="200">Explora alguna de mis habilidades y tecnologías que utilizo para desarrollar soluciones tecnológicas modernas y eficientes.</p>
      <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 max-w-7xl mx-auto">
        <div class="bg-gray-800 p-10 rounded-lg shadow-md transition-transform transform hover:scale-105 min-h-[200px] text-center" data-aos="zoom-in">
          <div class="flex justify-center mb-4">
            <i class="fas fa-mobile-alt text-purple-600 text-4xl"></i>
          </div>
          <h3 class="text-xl font-bold text-white">Aplicaciones Móviles</h3>
          <p class="text-lg text-gray-400 mt-4">
            Desarrollo de aplicaciones móviles nativas Android Java.
          </p>
        </div>
        <div class="bg-gray-800 p-10 rounded-lg shadow-md transition-transform transform hover:scale-105 min-h-[200px] text-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="flex justify-center mb-4">
            <i class="fas fa-globe text-purple-600 text-4xl"></i>
          </div>
          <h3 class="text-xl font-bold text-white">Desarrollo Web</h3>
          <p class="text-lg text-gray-400 mt-4">
            Creación de sitios web interactivos y responsivos utilizando HTML, CSS, JavaScript, Angular, y otros frameworks modernos.
          </p>
        </div>
        <div class="bg-gray-800 p-10 rounded-lg shadow-md transition-transform transform hover:scale-105 min-h-[200px] text-center" data-aos="zoom-in" data-aos-delay="200">
          <div class="flex justify-center mb-4">
            <i class="fas fa-plug text-purple-600 text-4xl"></i>
          </div>
          <h3 class="text-xl font-bold text-white">APIs</h3>
          <p class="text-lg text-gray-400 mt-4">
            Experiencia en el levantamiento y consumo de APIs RESTful, integración de servicios y manejo de datos.
          </p>
        </div>
        <div class="bg-gray-800 p-10 rounded-lg shadow-md transition-transform transform hover:scale-105 min-h-[200px] text-center" data-aos="zoom-in" data-aos-delay="300">
          <div class="flex justify-center mb-4">
            <i class="fas fa-desktop text-purple-600 text-4xl"></i>
          </div>
          <h3 class="text-xl font-bold text-white">Desarrollo de Software Local</h3>
          <p class="text-lg text-gray-400 mt-4">
            Desarrollo de aplicaciones de software que se instalan y ejecutan localmente en equipos, utilizando tecnologías como C#, Java, y Python.
          </p>
        </div>
        <div class="bg-gray-800 p-10 rounded-lg shadow-md transition-transform transform hover:scale-105 min-h-[200px] text-center" data-aos="zoom-in" data-aos-delay="400">
          <div class="flex justify-center mb-4">
            <i class="fas fa-robot text-purple-600 text-4xl"></i>
          </div>
          <h3 class="text-xl font-bold text-white">Inteligencia Artificial</h3>
          <p class="text-lg text-gray-400 mt-4">
            Uso de grandes modelos de lenguaje como GPT, Claude, y LLaMA para desarrollar soluciones tecnológicas modernas y eficientes.
          </p>
        </div>
        <div class="bg-gray-800 p-10 rounded-lg shadow-md transition-transform transform hover:scale-105 min-h-[200px] text-center" data-aos="zoom-in" data-aos-delay="500">
          <div class="flex justify-center mb-4">
            <i class="fas fa-lightbulb text-purple-600 text-4xl"></i>
          </div>
          <h3 class="text-xl font-bold text-white">Pasión por la Innovación</h3>
          <p class="text-lg text-gray-400 mt-4">
            Apasionado por el desarrollo de soluciones tecnológicas innovadoras y el aprendizaje continuo de nuevas IA para crear sistemas modernos.
          </p>
        </div>
      </div>
    </div>
  </section>
  