<section id="contact" class="flex items-center justify-center min-h-screen py-20 bg-gray-900 text-white">
    <div class="container mx-auto px-6 text-center md:text-left">
      <h2 class="text-4xl font-bold mb-12 text-center" data-aos="fade-up">Contacto</h2>
      <div class="grid gap-8 grid-cols-1 md:grid-cols-2 max-w-7xl mx-auto">
        <div class="bg-gray-800 p-20 rounded-lg shadow-md flex flex-col justify-center items-center md:items-start" data-aos="fade-right">
          <h3 class="text-3xl font-bold text-white mb-4">Contáctame</h3>
          <p class="text-xl text-gray-400 mb-4 max-w-2xl">
            Estoy disponible para consultas, proyectos o simplemente para conversar sobre tecnología.
          </p>
          <div class="flex flex-col items-start space-y-4 mb-4">
            <p class="text-xl text-gray-400 flex items-center"><i class="fas fa-envelope text-purple-600 mr-2"></i> julioromero1995&#64;gmail.com</p>
            <p class="text-xl text-gray-400 flex items-center"><i class="fas fa-phone text-purple-600 mr-2"></i> +569 93184286</p>
            <p class="text-xl text-gray-400 flex items-center"><i class="fas fa-map-marker-alt text-purple-600 mr-2"></i> Talca</p>
          </div>
        </div>
        <div class="bg-gray-800 p-20 rounded-lg shadow-md flex flex-col justify-center items-center" data-aos="fade-left">
          <h3 class="text-3xl font-bold text-white mb-4">Sígueme en las redes sociales</h3>
          <div class="flex justify-center space-x-8 mb-4">
            <a href="https://github.com/H0clar" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-white transition duration-300 transform hover:scale-105">
              <i class="fab fa-github text-4xl"></i>
            </a>
            <a href="https://www.linkedin.com/in/julio-romero-60b14b25b/" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-white transition duration-300 transform hover:scale-105">
              <i class="fab fa-linkedin text-4xl"></i>
            </a>
            <a href="https://wa.me/56993184286" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-white transition duration-300 transform hover:scale-105">
              <i class="fab fa-whatsapp text-4xl"></i>
            </a>
          </div>
          <p class="text-xl text-gray-400 max-w-2xl text-center">
            ¡Mantente actualizado y conectado! Sígueme en mis redes sociales para obtener más información y actualizaciones.
          </p>
        </div>
      </div>
    </div>
  </section>
  