<footer class="bg-gray-900 text-white py-6">
    <div class="container mx-auto px-6 text-center">
      <div class="flex flex-col items-center">
        <div class="mb-4">
          <h3 class="text-xl font-bold mb-2">Sígueme</h3>
          <div class="flex justify-center space-x-4">
            <a href="https://github.com/H0clar" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-white transition duration-300 transform hover:scale-110">
              <i class="fab fa-github text-3xl"></i>
            </a>
            <a href="https://www.linkedin.com/in/julio-romero-60b14b25b/" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-white transition duration-300 transform hover:scale-110">
              <i class="fab fa-linkedin text-3xl"></i>
            </a>
            <a href="https://wa.me/56993184286" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-white transition duration-300 transform hover:scale-110">
              <i class="fab fa-whatsapp text-3xl"></i>
            </a>
          </div>
        </div>
        <div class="mb-4">
          <p class="text-gray-400 mb-2">&copy; 2023 Julio Romero.</p>
          <p class="text-gray-400">Analista Programador.</p>
          <ul class="flex justify-center space-x-4 text-gray-400">
            <li><a href="#home" (click)="scrollToSection($event, 'home')" class="hover:text-white cursor-pointer">Inicio</a></li>
            <li><a href="#about" (click)="scrollToSection($event, 'about')" class="hover:text-white cursor-pointer">Sobre mí</a></li>
            <li><a href="#projects" (click)="scrollToSection($event, 'projects')" class="hover:text-white cursor-pointer">Proyectos</a></li>
            <li><a href="#contact" (click)="scrollToSection($event, 'contact')" class="hover:text-white cursor-pointer">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  