<section id="projects" class="bg-gray-900 py-20">
    <div class="container mx-auto px-6">
        <div class="text-center mb-16">
            <h2 class="text-4xl font-bold text-white mb-4" data-aos="fade-up">¡Mis Proyectos!</h2>
            <p class="text-gray-400 text-lg" data-aos="fade-up" data-aos-delay="200">Explora mi línea de tiempo de proyectos destacados.</p>
        </div>
        <div class="relative">
            <div class="border-l-4 border-indigo-600 absolute h-full top-0 left-1/2 hidden md:block transform -translate-x-1/2"></div>
            <div class="flex flex-col md:grid grid-cols-9 mx-auto px-2">
                <!-- Proyecto RememberMe -->
                <div class="flex md:contents">
                    <div class="col-start-1 col-end-10 md:col-start-1 md:col-end-5 p-4 rounded-xl shadow-lg bg-gray-800 relative mb-8 md:mb-0 md:mx-auto overflow-hidden group" data-aos="fade-right">
                        <div class="relative">
                            <img src="assets/imagenes/proyectos/rememberme/rememberme.png" alt="RememberMe Project" class="w-full h-64 md:h-80 object-cover rounded-t-xl transition-transform duration-300 group-hover:scale-105">
                            <div class="absolute top-0 left-0 bg-indigo-600 bg-opacity-75 text-white px-4 py-2 rounded-br-lg">
                                <span class="text-sm font-semibold">Destacado</span>
                            </div>
                        </div>
                        <div class="p-4">
                            <div class="flex flex-wrap mb-4 justify-center">
                                <div class="flex flex-col items-center mr-4 mb-4">
                                    <span class="iconify text-blue-500 w-8 h-8" data-icon="logos:tailwindcss-icon"></span>
                                    <span class="text-gray-400 text-sm mt-1">TailwindCSS</span>
                                </div>
                                <div class="flex flex-col items-center mr-4 mb-4">
                                    <span class="iconify text-green-500 w-8 h-8" data-icon="logos:django-icon"></span>
                                    <span class="text-gray-400 text-sm mt-1">Django</span>
                                </div>
                                <div class="flex flex-col items-center mr-4 mb-4">
                                    <span class="iconify text-blue-700 w-8 h-8" data-icon="logos:postgresql"></span>
                                    <span class="text-gray-400 text-sm mt-1">PostgreSQL</span>
                                </div>
                                
                                <div class="flex flex-col items-center mr-4 mb-4">
                                    <span class="iconify text-blue-500 w-8 h-8" data-icon="logos:docker-icon"></span>
                                    <span class="text-gray-400 text-sm mt-1">Docker</span>
                                </div>
                                <div class="flex flex-col items-center mr-4 mb-4">
                                    <span class="iconify text-teal-500 w-8 h-8" data-icon="logos:openai"></span>
                                    <span class="text-gray-400 text-sm mt-1">OpenAI</span>
                                </div>
                                <div class="flex flex-col items-center mb-4">
                                    <span class="iconify text-yellow-500 w-8 h-8" data-icon="logos:firebase"></span>
                                    <span class="text-gray-400 text-sm mt-1">Firestore</span>
                                </div>
                            </div>
                            <div class="absolute inset-0 bg-gray-900 bg-opacity-90 text-white flex flex-col justify-center items-center text-center opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                                <h3 class="font-semibold text-lg mb-2">RememberMe</h3>
                                <p class="text-gray-300 text-base mb-4 px-4">
                                    RememberMe es una plataforma que preserva y celebra recuerdos significativos mediante IA. Interactúa con una IA que simula ser tus seres queridos y accede a tus recuerdos en cualquier lugar. Protege y revive momentos especiales con videos emotivos y almacenamiento seguro.
                                </p>
                                <div class="text-center">
                                    <a href="https://web-production-8dd1.up.railway.app/" target="_blank" rel="noopener noreferrer" class="inline-block bg-indigo-600 text-white py-2 px-6 rounded-full hover:bg-indigo-700 transition duration-300 transform hover:scale-105">Visita el sitio</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-start-5 col-end-6 relative mr-10 md:mx-auto hidden md:block">
                        <div class="h-full w-6 flex items-center justify-center">
                            <div class="h-full w-1 bg-indigo-600 pointer-events-none"></div>
                        </div>
                    </div>
                </div>
                <div class="flex md:contents">
                    <div class="col-start-4 col-end-6 md:col-start-6 md:col-end-8 p-4 rounded-xl shadow-lg bg-gray-800 relative mb-8 md:mb-0 md:mx-auto flex items-center h-full" data-aos="fade-left">
                        <div class="text-center w-full">
                            <h3 class="font-semibold text-lg text-white">Práctica Laboral</h3>
                            <p class="text-gray-300">11 de marzo - 29 de mayo</p>
                            <p class="text-gray-400">Desarrollo del prototipo RememberMe, un sistema que utiliza técnicas RAG y OpenAI (GPT-3.5 Turbo) para simular conversaciones con las historias de un familiar y poder acceder a contenido multimedia.</p>
                            <div class="block md:hidden text-center mt-4">
                                <a href="https://web-production-8dd1.up.railway.app/" target="_blank" rel="noopener noreferrer" class="inline-block bg-indigo-600 text-white py-2 px-6 rounded-full hover:bg-indigo-700 transition duration-300 transform hover:scale-105">Visita el sitio</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- División entre proyectos -->
                <div class="col-span-9 my-8">
                    <hr class="border-t-2 border-gray-600">
                </div>

                <!-- Proyecto RememberMe API -->
                <div class="flex md:contents">
                    <div class="col-start-1 col-end-10 md:col-start-1 md:col-end-5 p-4 rounded-xl shadow-lg bg-gray-800 relative mb-8 md:mb-0 md:mx-auto overflow-hidden group" data-aos="fade-right">
                        <div class="relative">
                            <img src="assets/imagenes/proyectos/apirememberme/apirememberme.png" alt="RememberMe API Project" class="w-full h-64 md:h-80 object-cover rounded-t-xl transition-transform duration-300 group-hover:scale-105">
                            <div class="absolute top-0 left-0 bg-indigo-600 bg-opacity-75 text-white px-4 py-2 rounded-br-lg">
                                <span class="text-sm font-semibold">Nuevo</span>
                            </div>
                        </div>
                        <div class="p-4">
                            <div class="flex flex-wrap mb-4 justify-center">
                                <div class="flex flex-col items-center mr-4 mb-4">
                                    <span class="iconify text-green-500 w-8 h-8" data-icon="logos:django-icon"></span>
                                    <span class="text-gray-400 text-sm mt-1">Django</span>
                                </div>
                                <div class="flex flex-col items-center mr-4 mb-4">
                                    <span class="iconify text-blue-700 w-8 h-8" data-icon="logos:postgresql"></span>
                                    <span class="text-gray-400 text-sm mt-1">PostgreSQL</span>
                                </div>
                                <div class="flex flex-col items-center mr-4 mb-4">
                                    <span class="iconify text-blue-500 w-8 h-8" data-icon="logos:docker-icon"></span>
                                    <span class="text-gray-400 text-sm mt-1">Docker</span>
                                </div>
                                <div class="flex flex-col items-center mr-4 mb-4">
                                    <span class="iconify text-teal-500 w-8 h-8" data-icon="logos:openai"></span>
                                    <span class="text-gray-400 text-sm mt-1">OpenAI</span>
                                </div>
                                <div class="flex flex-col items-center mb-4">
                                    <span class="iconify text-yellow-500 w-8 h-8" data-icon="logos:firebase"></span>
                                    <span class="text-gray-400 text-sm mt-1">Firestore</span>
                                </div>
                            </div>
                            <div class="absolute inset-0 bg-gray-900 bg-opacity-90 text-white flex flex-col justify-center items-center text-center opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                                <h3 class="font-semibold text-lg mb-2">RememberMe API</h3>
                                <p class="text-gray-300 text-base mb-4 px-4">
                                    RememberMe API es una extensión del proyecto original, proporcionando una API robusta para interactuar con datos de recuerdos y ofrecer servicios de inteligencia artificial personalizados. Facilita la integración de características avanzadas en otras aplicaciones.
                                </p>
                                <div class="text-center">
                                    <a href="https://web-production-8dd1.up.railway.app/api" target="_blank" rel="noopener noreferrer" class="inline-block bg-indigo-600 text-white py-2 px-6 rounded-full hover:bg-indigo-700 transition duration-300 transform hover:scale-105">Explora la API</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-start-5 col-end-6 relative mr-10 md:mx-auto hidden md:block">
                        <div class="h-full w-6 flex items-center justify-center">
                            <div class="h-full w-1 bg-indigo-600 pointer-events-none"></div>
                        </div>
                    </div>
                </div>
                <div class="flex md:contents">
                    <div class="col-start-4 col-end-6 md:col-start-6 md:col-end-8 p-4 rounded-xl shadow-lg bg-gray-800 relative mb-8 md:mb-0 md:mx-auto flex items-center h-full" data-aos="fade-left">
                        <div class="text-center w-full">
                            <h3 class="font-semibold text-lg text-white">RememberMe API</h3>
                            <p class="text-gray-300">1 de junio - Presente</p>
                            <p class="text-gray-400">Ampliación del proyecto RememberMe, desarrollando una API que facilita la integración de sus funciones en otras aplicaciones y sistemas, utilizando tecnologías modernas y prácticas de desarrollo seguro.</p>
                            <div class="block md:hidden text-center mt-4">
                                <a href="https://web-production-8dd1.up.railway.app/api" target="_blank" rel="noopener noreferrer" class="inline-block bg-indigo-600 text-white py-2 px-6 rounded-full hover:bg-indigo-700 transition duration-300 transform hover:scale-105">Explora la API</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- División entre proyectos -->
                <div class="col-span-9 my-8">
                    <hr class="border-t-2 border-gray-600">
                </div>

                <!-- Proyecto HealthConnect -->
                <div class="flex md:contents">
                    <div class="col-start-1 col-end-10 md:col-start-1 md:col-end-5 p-4 rounded-xl shadow-lg bg-gray-800 relative mb-8 md:mb-0 md:mx-auto overflow-hidden group" data-aos="fade-right">
                        <div class="relative">
                            <img src="assets/imagenes/proyectos/HealthConnect/healthconnect.png" alt="HealthConnect Project" class="w-full h-64 md:h-80 object-cover rounded-t-xl transition-transform duration-300 group-hover:scale-105">
                            <div class="absolute top-0 left-0 bg-indigo-600 bg-opacity-75 text-white px-4 py-2 rounded-br-lg">
                                <span class="text-sm font-semibold">Nuevo</span>
                            </div>
                        </div>
                        <div class="p-4">
                            <div class="flex flex-wrap mb-4 justify-center">
                                <div class="flex flex-col items-center mr-4 mb-4">
                                    <span class="iconify text-blue-500 w-8 h-8" data-icon="logos:tailwindcss-icon"></span>
                                    <span class="text-gray-400 text-sm mt-1">TailwindCSS</span>
                                </div>
                                <div class="flex flex-col items-center mr-4 mb-4">
                                    <span class="iconify text-red-500 w-8 h-8" data-icon="logos:laravel"></span>
                                    <span class="text-gray-400 text-sm mt-1">Laravel</span>
                                </div>
                                <div class="flex flex-col items-center mr-4 mb-4">
                                    <span class="iconify text-blue-700 w-8 h-8" data-icon="logos:mysql"></span>
                                    <span class="text-gray-400 text-sm mt-1">MySQL</span>
                                </div>
                            </div>
                            <div class="absolute inset-0 bg-gray-900 bg-opacity-90 text-white flex flex-col justify-center items-center text-center opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                                <h3 class="font-semibold text-lg mb-2">HealthConnect</h3>
                                <p class="text-gray-300 text-base mb-4 px-4">
                                    HealthConnect es un sistema eficiente para agendar citas médicas. Conecta pacientes con profesionales de la salud.
                                </p>
                                <div class="text-center">
                                    <a href="https://citasmedicas.up.railway.app/" target="_blank" rel="noopener noreferrer" class="inline-block bg-indigo-600 text-white py-2 px-6 rounded-full hover:bg-indigo-700 transition duration-300 transform hover:scale-105">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-start-5 col-end-6 relative mr-10 md:mx-auto hidden md:block">
                        <div class="h-full w-6 flex items-center justify-center">
                            <div class="h-full w-1 bg-indigo-600 pointer-events-none"></div>
                        </div>
                    </div>
                </div>
                <div class="flex md:contents">
                    <div class="col-start-4 col-end-6 md:col-start-6 md:col-end-8 p-4 rounded-xl shadow-lg bg-gray-800 relative mb-8 md:mb-0 md:mx-auto flex items-center h-full" data-aos="fade-left">
                        <div class="text-center w-full">
                            <h3 class="font-semibold text-lg text-white">HealthConnect</h3>
                            <p class="text-gray-300">1 de junio - Presente</p>
                            <p class="text-gray-400">Sistema eficiente para agendar citas médicas, conectando pacientes con profesionales de la salud.</p>
                            <div class="block md:hidden text-center mt-4">
                                <a href="https://citasmedicas.up.railway.app/" target="_blank" rel="noopener noreferrer" class="inline-block bg-indigo-600 text-white py-2 px-6 rounded-full hover:bg-indigo-700 transition duration-300 transform hover:scale-105">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- División entre proyectos -->
                <div class="col-span-9 my-8">
                    <hr class="border-t-2 border-gray-600">
                </div>

                <!-- Proyecto Portafolio -->
                <div class="flex md:contents">
                    <div class="col-start-1 col-end-10 md:col-start-1 md:col-end-5 p-4 rounded-xl shadow-lg bg-gray-800 relative mb-8 md:mb-0 md:mx-auto overflow-hidden group" data-aos="fade-right">
                        <div class="relative">
                            <img src="assets/imagenes/proyectos/Portafolio/portafolio.png" alt="Portafolio Project" class="w-full h-64 md:h-80 object-cover rounded-t-xl transition-transform duration-300 group-hover:scale-105">
                            <div class="absolute top-0 left-0 bg-indigo-600 bg-opacity-75 text-white px-4 py-2 rounded-br-lg">
                                <span class="text-sm font-semibold">Portafolio</span>
                            </div>
                        </div>
                        <div class="p-4">
                            <div class="flex flex-wrap mb-4 justify-center">
                                <div class="flex flex-col items-center mr-4 mb-4">
                                    <span class="iconify text-blue-500 w-8 h-8" data-icon="logos:tailwindcss-icon"></span>
                                    <span class="text-gray-400 text-sm mt-1">TailwindCSS</span>
                                </div>
                                <div class="flex flex-col items-center mr-4 mb-4">
                                    <span class="iconify text-red-600 w-8 h-8" data-icon="logos:angular-icon"></span>
                                    <span class="text-gray-400 text-sm mt-1">Angular</span>
                                </div>
                                <div class="flex flex-col items-center mr-4 mb-4">
                                    <span class="iconify text-blue-500 w-8 h-8" data-icon="logos:typescript-icon"></span>
                                    <span class="text-gray-400 text-sm mt-1">TypeScript</span>
                                </div>
                            </div>
                            <div class="absolute inset-0 bg-gray-900 bg-opacity-90 text-white flex flex-col justify-center items-center text-center opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                                <h3 class="font-semibold text-lg mb-2">Mi Portafolio</h3>
                                <p class="text-gray-300 text-base mb-4 px-4">
                                    Este es mi portafolio personal donde muestro mis proyectos y habilidades. Desarrollado utilizando TailwindCSS, Angular y TypeScript.
                                </p>
                                <div class="text-center">
                                    <a href="https://h0clar.github.io/portafolioAng/" target="_blank" rel="noopener noreferrer" class="inline-block bg-indigo-600 text-white py-2 px-6 rounded-full hover:bg-indigo-700 transition duration-300 transform hover:scale-105">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-start-5 col-end-6 relative mr-10 md:mx-auto hidden md:block">
                        <div class="h-full w-6 flex items-center justify-center">
                            <div class="h-full w-1 bg-indigo-600 pointer-events-none"></div>
                        </div>
                    </div>
                </div>
                <div class="flex md:contents">
                    <div class="col-start-4 col-end-6 md:col-start-6 md:col-end-8 p-4 rounded-xl shadow-lg bg-gray-800 relative mb-8 md:mb-0 md:mx-auto flex items-center h-full" data-aos="fade-left">
                        <div class="text-center w-full">
                            <h3 class="font-semibold text-lg text-white">Mi Portafolio</h3>
                            <p class="text-gray-300">1 de junio - Presente</p>
                            <p class="text-gray-400">Este es mi portafolio personal donde muestro mis proyectos y habilidades. Desarrollado utilizando TailwindCSS, Angular y TypeScript.</p>
                            <div class="block md:hidden text-center mt-4">
                                <a href="https://h0clar.github.io/portafolioAng/" target="_blank" rel="noopener noreferrer" class="inline-block bg-indigo-600 text-white py-2 px-6 rounded-full hover:bg-indigo-700 transition duration-300 transform hover:scale-105">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- División entre proyectos -->
                <div class="col-span-9 my-8">
                    <hr class="border-t-2 border-gray-600">
                </div>

                <!-- Agrega más proyectos aquí -->
            </div>
        </div>
    </div>
</section>
