<section id="projects" class="flex items-center justify-center min-h-screen pt-20" style="background-color: #1a202c;">
    <div class="container mx-auto px-6 text-center">
        <div class="inline-block bg-gradient-to-r from-purple-600 to-indigo-600 text-white py-4 px-8 rounded-lg shadow-lg mb-24">
            <h2 class="text-4xl font-bold">¡Mis Proyectos!</h2>
        </div>
        <div class="grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            <a href="rememberme/rememberme.html" class="block bg-white rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 transform hover:-translate-y-2">
                <div class="relative">
                    <img src="assets/imagenes/proyectos/rememberme/rememberme.png" alt="RememberMe Project" class="rounded-t-lg w-full h-48 object-cover">
                    <div class="absolute top-0 left-0 bg-indigo-500 text-white px-4 py-2 rounded-br-lg">
                        <span class="text-sm font-semibold">Destacado</span>
                    </div>
                </div>
                <div class="p-6">
                    <h3 class="text-2xl font-bold mb-2 text-gray-800">RememberMe</h3>
                    <p class="text-gray-700 mb-4">
                        RememberMe es una plataforma que preserva y celebra recuerdos significativos mediante IA. Interactúa con una IA que simula ser tus seres queridos y accede a tus recuerdos en cualquier lugar. Protege y revive momentos especiales con videos emotivos y almacenamiento seguro.
                    </p>
                    <div class="flex justify-center mb-4 flex-wrap">
                        <div class="flex items-center mr-4 mb-2">
                            <span class="iconify text-blue-500 w-6 h-6 mr-2" data-icon="logos:tailwindcss-icon"></span>
                            <span class="text-gray-600 text-sm">TailwindCSS</span>
                        </div>
                        <div class="flex items-center mr-4 mb-2">
                            <span class="iconify text-green-500 w-6 h-6 mr-2" data-icon="logos:django-icon"></span>
                            <span class="text-gray-600 text-sm">Django</span>
                        </div>
                        <div class="flex items-center mr-4 mb-2">
                            <span class="iconify text-blue-700 w-6 h-6 mr-2" data-icon="logos:postgresql"></span>
                            <span class="text-gray-600 text-sm">PostgreSQL</span>
                        </div>
                        <div class="flex items-center mb-2">
                            <span class="iconify text-teal-500 w-6 h-6 mr-2" data-icon="logos:openai"></span>
                            <span class="text-gray-600 text-sm">OpenAI</span>
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <button class="bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700 transition duration-300">Leer más</button>
                    </div>
                </div>
            </a>
            <!-- Agrega más proyectos aquí -->
        </div>
    </div>
</section>
